/* Config Inicial*/
:root {
  /* Color */
  --color-primary-light: #e028db;
  --color-primary-dark: #a809a4;
  --color-secondary: #4b51d2;
  --color-bar-progressive: #12da3f;
  --color-arrow-up: #12da3f;
  --color-arrow-down: #ff2467;
  --color-font: #fafafa;
  --color-font-light: #a3a4a7;
  --color-chart-background: #4d5055;
  --color-chart-complementary-one: #ffff5d;
  --color-chart-complementary-two: #00ffe5;
  --color-chart-complementary-three: ;
  --color-background-soft: #3a3f45;
  --color-background-dark: #22252c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Saira", sans-serif;
  background-color: var(--color-background-soft);
}

/* Barra de Navegacion */
.nav-mobile {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--color-background-dark);
}

.nav-mobile div {
  width: 100%;
}

.nav-mobile img {
  margin-top: 16px;
  margin-left: 16.33px;
  margin-bottom: 15.38px;
  width: 130.67px;
  height: 24.62px;
}

.menu-icon {
  margin-top: 16px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  color: var(--color-font);
  background-image: url("../assets/icons/hamburger-menu.svg");
  background-repeat: no-repeat;
}

.logo-desktop {
  display: none;
}

/* Contenedor Principal */
.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
  /*min-height: 100vh;*/
}

.main-general--title {
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-font);
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  width: 100%;
  min-width: 150px;
  border-radius: 8px;
}

/* Cards con graficas */
.c1 {
  width: 100%;
}

#chart1,
#chart2 {
  height: 200px;
  width: 270px;
  min-height: 230px;
  max-width: 4000px;
  max-height: 4000px;
  margin: 0 auto;
}

/* Primera Card */
.c2 {
  background-color: var(--color-background-dark);
  height: auto;
  margin-bottom: 24px;
}
.chart--card-title {
  display: inline-block;
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 30.13px;
  padding-bottom: 24px;
  font-size: 1.4rem;
  color: var(--color-font);
  font-weight: 700;
}

.chart--card-data-percent-up {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 24px;
  font-size: 1.4rem;
  color: var(--color-arrow-up);
  font-weight: 700;
}

.arrow-up {
  display: inline-block;
  width: 14.67px;
  height: 6.78px;
  padding-top: 17px;
  padding-right: 24px;
  background-image: url("../assets/icons/arrow-up.svg");
  background-repeat: no-repeat;
}

.chart--card-data-info {
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/info-icon.svg");
  color: var(--color-primary-light);
  background-repeat: no-repeat;
}

/* Segunda Card */

.c3 {
  background-color: var(--color-background-dark);
  height: auto;
  margin-bottom: 24px;
}

.chart--card-data-percent-down {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 24px;
  font-size: 1.4rem;
  color: var(--color-arrow-down);
  font-weight: 700;
}

.arrow-down {
  display: inline-block;
  width: 14.67px;
  height: 6.78px;
  padding-bottom: 9px;
  padding-right: 24px;
  background-image: url("../assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
}

.chart--card-data-options {
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/three-dots.svg");
  color: var(--color-primary-light);
  background-repeat: no-repeat;
}

/* Tercera Card */
.c4 {
  background-color: var(--color-background-dark);
  height: auto;
  margin-bottom: 24px;
}

/* Cuarta Card */
.c5 {
  background-color: var(--color-background-dark);
  height: auto;
  margin-bottom: 24px;
}

/* Card larga usuario perfil */
.c6 {
  background-color: var(--color-background-dark);
  margin-bottom: 24px;
  height: auto;
  color: var(--color-font);
  font-size: 1.4rem;
}

.profile-detail--card .card--profile-pic {
  text-align: center;
}

.card--profile-pic {
  margin: 0px auto;
  padding-bottom: 32px;
  text-align: center;
}

.profile--card-name {
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

.profile--card-job {
  font-size: 1.2rem;
}

.list--card-title {
  padding-bottom: 6px;
}

.list--card-subtitle {
  padding-bottom: 14px;
}

.chart--card-items {
  padding-left: 34px;
  padding-bottom: 18px;
}

.chart--card-items ul {
  list-style: none;
  padding: 0;
  margin-left: 0px;
}

li::before {
  content: "\2022";
  padding-right: 8px;
  color: var(--color-primary-dark);
  line-height: 24px;
  font-size: 16px;
}

.chart--card-mimititle {
  font-weight: 700;
}

.chart--card-mimisubtitle {
  font-size: 1.2rem;
}

@media (min-width: 700px) and (max-width: 1023px) {
  #chart1 {
    height: 270px;
    width: 270px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart2 {
    height: 270px;
    width: 270px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  .nav-mobile {
    display: none;
  }

  .container {
    margin: 0;
    margin-right: 2.4rem;
    margin-bottom: 48px;
    min-height: 100vh;
  }

  .main-general--title {
    display: inline-block;
  }

  .menu {
    display: inline;
    background-color: var(--color-background-dark);
    text-align: center;
    width: 7%;
    height: 100vh;
    margin-right: 2.4rem;
  }

  .logo-desktop {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 21.33px;
    height: 24.62px;
  }

  .verticalLine {
    margin-top: 33px;
    border-left: 4px solid var(--color-primary-light);
    height: 32px;
  }

  .home-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/home-icon.svg");
    background-repeat: no-repeat;
  }

  .divisor-book {
    margin-top: 22px;
  }

  .book-icon {
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/book-icon.svg");
    background-repeat: no-repeat;
  }

  .c1 {
    width: 89.4%;
    height: 44vh;
    order: 1;
  }
  .c2 {
    width: 47.6%;
    height: 85%;
    display: inline-block;
    margin-right: 24px;
  }
  .c3 {
    width: 47.6%;
    height: 85%;
    display: inline-block;
  }
  .c4 {
    width: 47.6%;
    height: 114%;
    display: inline-block;
    margin-right: 24px;
  }
  .c5 {
    width: 47.6%;
    height: 114%;
    display: inline-block;
  }
  .c6 {
    margin-left: 7.2rem;
    width: 90%;
    height: auto;
    order: 2;
  }

  .card--profile-pic {
    padding-top: 48px;
    margin-left: 14px !important;
    text-align: center;
    display: inline-block;
  }
  .profile-detail--card {
    margin-left: 14px !important;
    text-align: center;
    display: inline-block;
  }

  .card--profile-pic .profile-detail--card img {
    margin-left: 14px;
    text-align: center;
    display: inline-block;
  }

  .chart--card-items {
    display: inline-block;
    padding-top: 64px;
    padding-left: 27px;
    margin-bottom: 24px;
  }

  .items-tablet {
    margin-top: 0;
    padding-top: 0%;
  }
}

@media (min-width: 1024px) and (max-width: 1899px) {
  .nav-mobile {
    display: none;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    margin-right: 2.4rem;
  }

  .main-general--title {
    display: inline-block;
  }

  .menu {
    display: inline-block;
    background-color: var(--color-background-dark);
    text-align: center;
    width: 5.5%;
    height: 100vh;
    margin-right: 2.4rem;
  }

  .logo-desktop {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 21.33px;
    height: 24.62px;
  }

  .verticalLine {
    margin-top: 33px;
    border-left: 4px solid var(--color-primary-light);
    height: 32px;
  }

  .home-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/home-icon.svg");
    background-repeat: no-repeat;
  }

  .divisor-book {
    margin-top: 22px;
  }

  .book-icon {
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/book-icon.svg");
    background-repeat: no-repeat;
  }
  /*
  .divisor-power {
    padding-top: 56rem;
  }
 
  .power-icon {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/power-icon.svg");
    background-repeat: no-repeat;
  }*/

  .c1 {
    position: relative;
    width: 68.7%;
    min-height: 250px;
    max-height: 100vh;
    height: 100vh;
    padding-bottom: 40px;
    order: 1;
    margin-right: 2.4rem;
    margin-bottom: 2.4rem;
    background-color: #12da3f;
  }
  .c2 {
    width: 48%;
    height: auto;
    min-height: 256px;
    display: inline-block;
    margin-right: 24px;
  }
  .c3 {
    width: 48%;
    height: auto;
    min-height: 256px;
    display: inline-block;
  }
  .c4 {
    width: 48%;
    height: 38.5rem;
    display: inline-block;
    margin-right: 24px;
  }
  .c5 {
    width: 48%;
    height: auto;
    display: inline-block;
    height: calc(100% - 100px);
  }
  .c6 {
    margin-top: 5.8rem;
    width: 21%;
    height: auto;
    order: 2;
  }

  .chart--card-items {
    padding-left: 27px;
    padding-bottom: 18px;
  }
  /* Charts Breakpoints */
  #chart1 {
    width: 300px;
    min-height: 180px;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }
  #chart2 {
    width: 300px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 400px;
    margin: 0 auto;
  }
  #chart3 {
    width: 70%;
    min-height: 230px;
    margin: 0 auto;
  }
  #chart4 {
    width: 70%;
    min-height: 230px;
    margin: 0 auto;
  }
}

@media (min-width: 1800px) {
  #chart1 {
    height: 290px;
    width: 400px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 400px;
    margin: 0 auto;
  }
  #chart2 {
    height: 290px;
    width: 400px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 400px;
    margin: 0 auto;
  }
  #chart3 {
    height: 350px;
    width: 350px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart4 {
    height: 350px;
    width: 350px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  .nav-mobile {
    display: none;
  }

  .container {
    height: 100vh;
    margin: 0;
    margin-right: 2.4rem;
  }

  .main-general--title {
    display: inline-block;
  }

  .menu {
    display: inline-block;
    background-color: var(--color-background-dark);
    text-align: center;
    width: 4%;
    height: 100vh;
    margin-right: 2.4rem;
  }

  .logo-desktop {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 21.33px;
    height: 24.62px;
  }

  .verticalLine {
    margin-top: 33px;
    border-left: 4px solid var(--color-primary-light);
    height: 32px;
  }

  .home-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/home-icon.svg");
    background-repeat: no-repeat;
  }

  .divisor-book {
    margin-top: 22px;
  }

  .book-icon {
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/book-icon.svg");
    background-repeat: no-repeat;
  }
  /*
  .divisor-power {
    padding-top: 56rem;
  }
 
  .power-icon {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/power-icon.svg");
    background-repeat: no-repeat;
  }*/

  .c1 {
    width: 78%;
    height: 100vh;
    order: 1;
    margin-right: 2.4rem;
  }
  .c2 {
    width: 49%;
    height: 40%;
    display: inline-block;
    margin-right: 24px;
  }
  .c3 {
    width: 49%;
    height: 40%;
    display: inline-block;
  }
  .c4 {
    width: 49%;
    height: 48%;
    display: inline-block;
    margin-right: 24px;
  }
  .c5 {
    width: 49%;
    height: 48%;
    display: inline-block;
  }
  .c6 {
    margin-top: 5.8rem;
    width: 15%;
    height: auto;
    order: 2;
  }

  .chart--card-items {
    padding-left: 27px;
    padding-bottom: 18px;
  }
}
@media (min-width: 2000px) {
  #chart3 {
    height: 410px;
    width: 400px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart4 {
    height: 410px;
    width: 400px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
}

@media (min-width: 2500px) {
  #chart1 {
    height: 300px;
    width: 500px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 600px;
    margin: 0 auto;
  }
  #chart2 {
    height: 300px;
    width: 500px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 600px;
    margin: 0 auto;
  }
  .nav-mobile {
    display: none;
  }

  .container {
    height: 100vh;
    margin: 0;
    margin-right: 2.4rem;
  }

  .main-general--title {
    display: inline-block;
  }

  .menu {
    display: inline-block;
    background-color: var(--color-background-dark);
    text-align: center;
    width: 3%;
    height: 100vh;
    margin-right: 2.4rem;
  }

  .logo-desktop {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 21.33px;
    height: 24.62px;
  }

  .verticalLine {
    margin-top: 33px;
    border-left: 4px solid var(--color-primary-light);
    height: 32px;
  }

  .home-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/home-icon.svg");
    background-repeat: no-repeat;
  }

  .divisor-book {
    margin-top: 22px;
  }

  .book-icon {
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/book-icon.svg");
    background-repeat: no-repeat;
  }
  /*
  .divisor-power {
    padding-top: 56rem;
  }
 
  .power-icon {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/power-icon.svg");
    background-repeat: no-repeat;
  }*/

  .c1 {
    width: 80%;
    order: 1;
    margin-right: 2.4rem;
  }
  .c2 {
    width: 49%;
    display: inline-block;
    margin-right: 24px;
  }
  .c3 {
    width: 49%;
    display: inline-block;
  }
  .c4 {
    width: 49%;
    display: inline-block;
    margin-right: 24px;
  }
  .c5 {
    width: 49%;
    display: inline-block;
  }
  .c6 {
    margin-top: 5.8rem;
    width: 12%;
    height: auto;
    order: 2;
  }

  .chart--card-items {
    padding-left: 27px;
    padding-bottom: 18px;
  }
}

@media (min-width: 3000px) {
  #chart1 {
    padding-top: 6%;
    height: 400px;
    width: 600px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart2 {
    padding-top: 6%;
    height: 400px;
    width: 600px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart3 {
    padding-top: 10%;
    height: 400px;
    width: 500px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart4 {
    padding-top: 10%;
    height: 400px;
    width: 500px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  .c1 {
    min-height: 100vh;
  }
  .c2 {
    height: 38%;
  }
  .c3 {
    height: 38%;
  }
  .c4 {
    height: 54%;
  }
  .c5 {
    height: 54%;
  }
}

@media (min-width: 3800px) {
  #chart1 {
    height: 300px;
    width: 600px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 800px;
    margin: 0 auto;
  }
  #chart2 {
    height: 300px;
    width: 600px;
    min-height: 180px;
    max-width: 3000px;
    max-height: 800px;
    margin: 0 auto;
  }
  #chart3 {
    height: 300px;
    width: 600px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }
  #chart4 {
    height: 300px;
    width: 600px;
    min-height: 230px;
    max-width: 4000px;
    max-height: 4000px;
    margin: 0 auto;
  }

  .nav-mobile {
    display: none;
  }

  .container {
    height: 100vh;
    margin: 0;
    margin-right: 2.4rem;
  }

  .main-general--title {
    display: inline-block;
  }

  .menu {
    display: inline-block;
    background-color: var(--color-background-dark);
    text-align: center;
    width: 3%;
    height: 100vh;
    margin-right: 2.4rem;
  }

  .logo-desktop {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 21.33px;
    height: 24.62px;
  }

  .verticalLine {
    margin-top: 33px;
    border-left: 4px solid var(--color-primary-light);
    height: 32px;
  }

  .home-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("./assets/icons/home-icon.svg");
    background-repeat: no-repeat;
  }

  .divisor-book {
    margin-top: 22px;
  }

  .book-icon {
    display: block;
    margin: 0 auto;
    padding-top: 28px;
    width: 24px;
    height: 24px;
    background-image: url("./assets/icons/book-icon.svg");
    background-repeat: no-repeat;
  }
  /*
  .divisor-power {
    padding-top: 56rem;
  }
 
  .power-icon {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/power-icon.svg");
    background-repeat: no-repeat;
  }*/

  .c1 {
    width: 80%;
    min-height: 100vh;
    order: 1;
    margin-right: 2.4rem;
  }
  .c2 {
    width: 49%;
    height: 40%;
    display: inline-block;
    margin-right: 24px;
  }
  .c3 {
    width: 49%;
    height: 40%;
    display: inline-block;
  }
  .c4 {
    width: 49%;
    height: 54%;
    display: inline-block;
    margin-right: 24px;
  }
  .c5 {
    width: 49%;
    height: 54%;
    display: inline-block;
  }
  .c6 {
    margin-top: 5.8rem;
    width: 12%;
    height: auto;
    order: 2;
  }

  .chart--card-items {
    padding-left: 27px;
    padding-bottom: 18px;
  }
}
